
*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    
    color: rgb(0, 0, 0);
}
#head{
    width: 100%;
    height: 100vh;
    background-image:url(images/bg.jpg);
}
.navbar{
    padding:15px 5%;
    background-color: black;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
}
.headername{
    color: rgb(255, 255, 255);
}
nav ul li{
    display: inline;
    list-style: none;
    margin:5px 20px;
}
nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
nav ul li a:hover{
    color: #ef233c;
}
.headertext{
    color: rgb(0, 0, 0);
    padding:5%;
    font-size:50px;
}
#About{
    padding: 80px 15%;
    font-size: larger;
    background-color: rgb(18, 18, 18);
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
}
.col1{
    flex-basis: 15%;
}
.col1 img{
    border-radius: 20px;
}
.col2{
    flex-basis: 45%;
}
.col2 h2{
    font-size: 30px;
    color: #da1e37;
}
.col2 p{
    font-size: 20px;
}
#Academics{
    background-color: rgb(18, 18, 18);
    height: auto;
    width: 100%;
    justify-content: space-between;
    color: aliceblue;
}

.academics{
    padding: 5px;
    flex-basis: 70%;
    font-weight: 500;
}
.grid-container{
        display: grid;
        column-gap: 10px;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        padding: 0;
}
.grid-item {
    display: inline-grid;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    background-color: black;
    border-radius: 20px;
    transition: background 0.5s ,transform 0.5s;
}
.grid-item:hover{
    color: #da1e37;
    transform: translatey(-10px);
}
.grid-item h3{
    font-size: 20px;
    font-weight: 500;
}

.para{
    font-size: 30px;
}


#Projects{
    background-color: rgb(0, 0, 0);
    height: auto;
    width: 100%;
    justify-content: space-between;
    color: aliceblue;
    padding: 30px 0;
}

.Project-container{
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: auto;
    padding: 30px;
    margin: 20px;
}
.Project-item {
    background: #262626;
    padding: 40px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 25px;
    display: inline-block;
    transition: background 0.5s ,transform 0.5s;
}
#Projects h2{
    padding: 30px;
    padding-bottom: 0;
    font-size: 30px;
    color: #ef233c;
    text-align: center;
}
.Project-item h3{
    font-size: 22px;
    padding-bottom:20px ;
    
}
.Project-item p{
    font-size: 20px;
}
.Project-item:hover {
   
    background: #da1e37;
    transform: translatey(-10px);
}
#others{
    background-color: rgb(18, 18, 18);
    height: auto;
    width: 100%;
    justify-content: space-between;
    color: aliceblue;
    padding: 30px 30px;
}
.others-container{
    display: grid;
    column-gap: 5px;
    grid-template-columns: auto auto ;
    grid-template-rows: auto;
    padding: 20px;
    background-color: rgb(18, 18, 18);
}


.tab-contents ul li{
    padding: 10px;
}
.skills-container h3{
    color: #da1e37;
}
.grid-containercer{
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto ;
    grid-template-rows: auto;
    padding: 30px;
    background-color: #000000;
    border-radius: 20px;
    
}


.others-heading{
    display: flex;
   

}
.tab-links{
    margin-right: 30px;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    color: #da1e37;
    
}
.tab-links::after{
    color: #d84e60;
}
.tab-links:hover{
    color: #c7626f;
}
.tab-contents{
    display: grid;
    grid-template-columns: auto auto  ;
    grid-template-rows: auto;
    padding: 10px;
    color: white;
   

}
.tab-contents h3{
    color: #da1e37;
}
.skills{
    display: grid;
    grid-template-columns: auto auto  ;
    grid-template-rows: auto;
    padding: 10px;
    color: white;
    padding-left: 30px;
    

}
.skills ul li{
    padding: 10px;
    padding-left: 10px;
}
.skills h3{
    color: #da1e37;
}
.nontech{
    padding-right: 260px;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px ;
}
.links img{
    width: 60px;
    height: 60px;
}
.contact{
    background: #000000;
    color: #da1e37;
    text-align: center;
}
.contact h2{
    font-size: 25px;
    padding: 20px;
}